:root {
    --white: #FFFFFF;
    --black: #000000;
    --lightgrey: #CDCDCD;
    --bg-color: #F5F7F8;
    --primary-color: #2A3647;
    --secundary-color: #081931;
    --highlight-color: #28abe2;
  }