* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    padding: 110px clamp(2.875rem, -1.4287rem + 6.7114vw, 6.625rem) 10px clamp(2.875rem, -1.4287rem + 6.7114vw, 6.625rem);
}

.header-sticky {
    display: flex;
    position: sticky;
    top: 0;
}

.headline-section {
    display: flex;
    align-items: center;
    height: 73px;
    gap: 30px;
    margin-bottom: 60px;
}

.headline-section h1 {
    font-weight: 700;
    font-size: 61px;
}

.headline-section h5 {
    font-weight: 400;
    font-size: 27px;
}

.placeholder {
    background-color: #29ABE2;
    height: 59px;
    width: 3px;
    border-radius: 3px;
}

.placeholder-mobile {
    background-color: #29ABE2;
    height: 3px;
    width: 150px;
    border-radius: 3px;
    margin-top: 8px;
    display: none;
}

.summary-section {
    display: flex;
    gap: clamp(2.125rem, -1.8918rem + 6.264vw, 5.625rem);
}

.summary-left-section {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.summary-left-section h2 {
    font-size: clamp(2.25rem, 2.025rem + 1.125vw, 3.375rem);
    font-weight: 600;
}

.summary-left-section p {
    font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
    font-weight: 400;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
    background-color: white;
    border-radius: 30px;
    padding: 25px 62px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transition: 70ms all;
    width: 50%;
}

.card img {
    width: clamp(2.5rem, 2.1375rem + 1.8125vw, 4.3125rem);
    height: clamp(2.5rem, 2.1375rem + 1.8125vw, 4.3125rem);
}

.info-cardpart {
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-overlying-div {
    display: flex;
    gap: 30px;
}

.card-big {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.5rem, -0.1625rem + 3.3125vw, 3.8125rem);
    background-color: white;
    border-radius: 30px;
    padding: clamp(1.25rem, 1.025rem + 1.125vw, 2.375rem) clamp(1.5rem, 1.05rem + 2.25vw, 3.75rem);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transition: 70ms all;
}

.left-card-part-big {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
}

.left-card-part-big img {
    width: clamp(2.5rem, 2.25rem + 1.25vw, 3.75rem);
    height: clamp(2.5rem, 2.25rem + 1.25vw, 3.75rem);
}

.paceholder-card-big {
    width: 2px;
    height: 102px;
    background-color: #D1D1D1;
}

.right-card-part-big {
    display: flex;
    flex-direction: column;
    gap:clamp(0rem, -0.1625rem + 0.8125vw, 0.8125rem);
}

.right-card-part-big h3 {
    font-size: 20px;
    font-weight: 700;
}

.right-card-part-big h4 {
    font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
    font-weight: 400;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
    background-color: white;
    border-radius: 30px;
    padding: 20px 15px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transition: 70ms all;
}

.card-bottom h4 {
    font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
    font-weight: 400;
    text-align: center;
}

.summary-right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.summary-right-section h1 {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
    margin: 0;
}

.summary-right-section h2 {
    font-size: 47px;
    font-weight: 500;
}

.hover-right:hover {
    background-color: #2A3647;
    cursor: pointer;
    color: white;
    transform: scale(1.08, 1.1);
    transform-origin: left;
}

.hover-left:hover {
    background-color: #2A3647;
    cursor: pointer;
    color: white;
    transform: scale(1.08, 1.1);
    transform-origin: right;
}

.hover-bottom:hover {
    background-color: #2A3647;
    cursor: pointer;
    color: white;
    transform: scale(1.02, 1.1);
    transform-origin: left top;
}

.card-big:hover .left-card-part-big img {
    width: 60px;
    height: 56px;
}

.card-bottom:hover {
    background-color: #2A3647;
    cursor: pointer;
    color: white;
    transform: scale(1.1);
}

.choosed-webside {
    background-color: var(--white);
}

@media(max-width: 1024px) {
    .headline-section h1 {
        font-size: 47px;
    }

    .d-none-mobile {
        display: none;
    }

    .content {
        padding: 48px clamp(0.625rem, 0.0568rem + 2.8409vw, 1.875rem) 120px clamp(0.625rem, 0.0568rem + 2.8409vw, 1.875rem);
    }

    .placeholder {
        display: none;
    }

    .headline-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        height: auto;
    }

    .placeholder-mobile {
        display: block;
    }

    .summary-left-section {
        width: 100%;
        gap: clamp(0.9375rem, 0.75rem + 0.9375vw, 1.875rem);;
    }

    .card-overlying-div {
        gap: 30px;
        justify-content: space-between;
        gap: clamp(0.9375rem, 0.75rem + 0.9375vw, 1.875rem);;
    }

    .card {
        padding: clamp(0rem, -0.3125rem + 1.5625vw, 1.5625rem) clamp(0.875rem, 0.275rem + 3vw, 3.875rem);
    }

    .card-bottom {
        width: 50%;
        padding: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem) clamp(0.625rem, 0.5625rem + 0.3125vw, 0.9375rem);
    }
}
