.headline {
    padding-top: 106px;
    padding-left: 106px;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    font-family: inter;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
    margin: 0;
    padding-top: 26px;
    display: flex;
    font-family: inter;
}

p {
    font-family: inter;
}

.dp-flex {
    display: flex;
}

.d-none {
    display: none;
}

.mg-l-r {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 20px;
}

.dp-flex-jc-sb {
    display: flex;
    justify-content: space-between;
}

.jc-center {
    display: flex;
    justify-content: center;
}

.required-color {
    color: #FF8190;
    margin: 0;
}

.add-task-container {
    margin-left: 106px;
    margin-right: 106px;
    padding-top: 64px;
    display: flex;
}

.inputfield-title {
    width: 406px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-top: 8px;
    font-family: inter;
    font-size: 20px;
    height: 30px;
}

.inputfield-title:hover {
    cursor: pointer;
}

.inputfield-title:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.textareafied-description {
    width: 406px;
    height: 102px;
    text-wrap: wrap;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-top: 8px;
    resize: none;
    font-family: inter;
    font-size: 20px;
}

.textareafied-description:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.textareafied-description:hover {
    cursor: pointer;
}

.assignment-task-assignment {
    margin-top: 8px;
    width: 382px;
    height: 44px;
    padding-left: 16px;
    padding-right: 40px; 
    font-family: Inter;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background-color: #FFFFFF;
    position: relative; 
}

.assignment-select-container {
    position: relative;
    max-width: 440px;
}

.assignment-task-assignment:hover {
    cursor: pointer;
}

.assignment-task-assignment:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.selected-contacts-container {
    height: 42px;
    width: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.assignment-select-container::after {
    content: '';
    position: absolute;
    right: 16px; 
    top: 60%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
    width: 24px; 
    height: 24px; 
    background: url('/assets/img/icons/arrow_drop_downaa.png') no-repeat center;
    background-size: 24px 24px; 
    pointer-events: none; 
}

.assignment-select-container.open::after {
    transform: translateY(-50%) rotate(180deg);
}

.contacts-form {
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

.contact-name-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.initials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    min-width: 42px;
    height: 42px;
    border-radius: 45px;
    font-size: 12px;
    border: 2px solid rgba(255, 255, 255, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 440px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    max-height: 250px;
    overflow-y: auto;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#selected-contacts {
    max-width: 440px;
    display: flex;
    margin-top: 8px;
    gap: 8px;
    flex-wrap: wrap;
}

.selected-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 42px;
    height: 42px;
    border-radius: 45px;
    font-size: 12px;
    border: 2px solid rgba(255, 255, 255, 1);
}


.selectfield-task-assignment:focus option[value=""] {
    display: none;
    visibility: hidden;
}

.selectfield-task-assignment:hover {
    cursor: pointer;
    border: 1px solid #A8A8A8;
}

.selectfield-task-assignment:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.date-selector {
    margin-top: 8px;
    width: 406px;
    padding-left: 16px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    position: relative;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 30px;
    font-size: 20px;
    font-family: inter;
}

.date-selector:hover {
    cursor: pointer;
}

.date-selector:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.custom-checkbox-high,
.custom-checkbox-medium,
.custom-checkbox-low {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.checkbox-label-high {
    background-color: #FFFFFF; 
    color: #000000; 
    padding: 8px 16px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
    margin-top: 8px;
    height: 40px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.checkbox-label-medium {
    background-color: #FFFFFF; 
    color: #000000; 
    padding: 8px 16px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    margin-top: 8px;
    height: 40px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.checkbox-label-low {
    background-color: #FFFFFF; 
    color: #000000; 
    padding: 8px 16px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
    margin-top: 8px;
    height: 40px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.custom-checkbox-high:checked + .checkbox-container .checkbox-label-high {
    background-color: #FF3D00; 
    color: #FFFFFF; 
}

.custom-checkbox-medium:checked + .checkbox-container .checkbox-label-medium {
    background-color: #FFA800; 
    color: #FFFFFF; 
}

.custom-checkbox-low:checked + .checkbox-container .checkbox-label-low {
    background-color: #7AE229; 
    color: #FFFFFF; /
}

.checkbox-label-low:hover,
.checkbox-label-medium:hover,
.checkbox-label-high:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.checkbox-image-high,
.checkbox-image-medium,
.checkbox-image-low {
    margin-left: 10px; 
    width: 20px; 
    height: 14px;
}

.custom-checkbox-high:checked + .checkbox-container .checkbox-image-high {
    content: url('/assets/img/icons/white_prio_arrows.svg'); 
}

.custom-checkbox-medium:checked + .checkbox-container .checkbox-image-medium {
    content: url('/assets/img/icons/white_prio_medium.png'); 
}

.custom-checkbox-low:checked + .checkbox-container .checkbox-image-low {
    content: url('/assets/img/icons/white_prio_low.png'); 
}

.option-select{
    color: #757575;
}

.selectfield-task-category {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    margin-top: 8px;
    width: 440px;
    height: 48px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 40px; 
    font-family: Inter;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.custom-select-container {
    position: relative;
    display: inline-block;
}

.custom-select-container::after {
    content: '';
    position: absolute;
    right: 16px; 
    top: 60%; 
    transform: translateY(-50%) rotate(0deg); 
    transition: transform 0.3s ease; 
    width: 24px; 
    height: 24px; 
    background: url('/assets/img/icons/arrow_drop_downaa.png') no-repeat center;
    background-size: 24px 24px; 
    pointer-events: none;
}

.custom-select-container.open::after {
    transform: translateY(-50%) rotate(180deg); 
}

.selectfield-task-category:hover {
    cursor: pointer;
    border: 1px solid #A8A8A8;
}

.selectfield-task-category:focus {
    outline: none;
    border: 1px solid #29ABE2;
}

.input-container {
    margin-top: 8px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 16px;
    font-family: inter;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 406px;
}

.input-container:hover {
    border: 1px solid #A8A8A8;
    cursor: pointer;
}

.input-container:focus {
    outline: none;
    border: 1px solid #29ABE2;
}

.inputfield-task-subtasks {
    box-sizing: border-box;
    outline: none;
    border: 0;
    height: 34px;
    font-size: 20px;
    width: 300px;
}

.inputfield-task-subtasks:hover {
    cursor: pointer;
}

.clear-button, .add-button {
    height: 24px;
    width: 24px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    padding-inline: 4px;
}

.clear-button:hover, .add-button:hover {
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 50px;
}

.subtask-btn-container {
    gap: 8px;
    display: none;
    align-items: center;
}

.subtask-text-container {
    display: flex;
    align-items: center;
}

.add-plus-button {
    height: 24px;
    width: 24px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    padding-inline: 5px;
}

.add-plus-button:hover {
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 50px;
}

.subtask {
    height: 28px;
    margin-top: 8px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtask-button {
    display: flex;
    gap: 8px;
    margin-right: 16px;
    align-items: center;
    height: 28px;
}

.subtask .subtask-button img {
    display: none;
}

.subtask:hover .subtask-button img {
    display: inline-block;
}

.subtask:hover {
    cursor: pointer;
    background-color: #D1D1D1;
    border-radius: 10px;
}

.subtask-edit-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: #FFFFFF;
}

.input-edit-subtask {
    flex: 1;
    padding: 4px;
    font-size: 16px;
    height: 20px;
}

.input-edit-subtask:focus {
    outline: none;
    border: 0px;
}

.save-subtask-button {
    margin-left: 8px;
    padding: 4px 8px;
}

.add-task-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 106px;
    margin-right: 106px;
    max-width: 930px;
    margin-top: 106px;
    margin-bottom: 60px;
}

.clear-task-btn {
    height: 56px;
    width: 110px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    padding: 16px;
    font-size: 20px;
}

.clear-task-btn:hover {
    border-color: #29ABE2;
    color: #29ABE2;
    cursor: pointer;
    transition: ease-in-out 120ms;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.create-task-btn-container {
    height: 56px;
    width: 183px;
    border-radius: 10px;
    background-color: #2A3647;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-task-btn-container:hover, 
.create-task-btn:hover {
    cursor: pointer;
    transition: ease-in-out 120ms;
    background-color: #29ABE2;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.create-task-btn {
    height: 56px;
    width: 183px;
    border-radius: 10px;
    background-color: #2A3647;
    margin-left: 16px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer-btn-container {
    display: flex;
    align-items: end;
    margin-bottom: 80px;
}

.subtask-form {
    display: flex;
    flex-direction: column;
}

@media(max-width: 1300px) {
    .mg-l-r {
        display: none;
    }

    .left-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headline {
        padding-top: 30px;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        font-size: 50px;
    }

    h2 {
        padding-top: 12px;
    }


    .add-task-container {
       flex-direction: column;
       padding-top: 16px;
        
    }

    .dp-flex-jc-sb {
        justify-content: center;
        gap: 18px;
    }

    .input-container {
        width: 406px;
    }

    .add-task-footer {
        margin-top: 34px;
        display: flex;
        justify-content: center;
        gap: 12px;
        font-size: 12px;
        flex-direction: column;
        align-items: center;
    }

    .subtask {
        max-width: 420px;
    }

    .dp-flex {
        margin-bottom: 12px;
    }

    h2 {
        justify-content: center;
    }

    .subtask-form {
        align-items: center;
    }
}


@media(max-width: 658px) {
    .add-task-container {
        margin-left: 12px;
        margin-right: 12px;
    }

    .add-task-footer {
        margin-left: 12px;
        margin-right: 12px;
    }

    .headline {
        padding-left: 12px;
    }
}

@media(max-width: 500px) {
    main {
        overflow-x: hidden;
    }

    .headline {
        font-size: 50px;
    }

    h2 {
        padding-top: 12px;
    }

    .inputfield-title {
        width: 270px;
    }

    .textareafied-description {
        width: 270px;
    }

    .assignment-task-assignment {
        width: 246px;
        
    }

    .date-selector {
        width: 270px;
    }

    .dp-flex-jc-sb {
        flex-direction: column;
        align-items: center;
    }

    .selectfield-task-category {
        width: 304px;
    }

    .input-container {
        width: 270px;
    }

    .dropdown-content{
        max-width: 304px;
    }

    .subtask-btn-container {
        position: relative;
        right: 38px;
    }

    #selected-contacts {
        max-width: 304px;
    }
}