<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <script src="/java-script/side-bar.js"></script>
    <title>JOIN</title>
</head>

<body>
    <section class="container-sidebar">
        <img src="/assets/img/logo_join_white.png" class="sidebar-logo d-none-mobile" alt="logo_join">
        <nav id="side-bar-nav">
            <a id="link-summary" href="/summary.html" id="summary"><img src="/assets/img/icons/nav_summary.png" alt="Summary">Summary</a>
            <a id="link-task" href="/add-task.html"><img src="/assets/img/icons/nav_addtask.png" alt="addtask">Add Task</a>
            <a id="link-board" href="/board.html"><img src="/assets/img/icons/nav_board.png" alt="board">Board</a>
            <a id="link-contact" href="/contact.html"><img src="/assets/img/icons/nav_contacts.png" alt="contacts">Contacts</a>
        </nav>
        <div class="nav-bottom-link d-none-mobile">
            <a href="/privacy-policy.html" onclick="saveTheUrl()">Privacy Policy</a>
            <a href="/legal-notice.html">Legal notice</a>
        </div>
    </section>
</body>

</html>