<div>
  <form id="task-form">
    <input type="hidden" name="firebaseId" id="task-form-firebaseId" />
    <input type="hidden" name="category" id="task-form-category" value="to-do" />
    <h1 class="headline" id="task-form-title">Add Task</h1>
    <section id="add-task-content" class="add-task-container">
      <div class="left-menu">
        <h2>
          Title
          <p class="required-color">*</p>
        </h2>
        <input id="task-title" class="inputfield-title" placeholder="Enter a title" type="text" name="title" required />
        <h2>Description</h2>
        <textarea id="task-description" name="description" class="textareafied-description"
          placeholder="Enter a Description" rows="10"></textarea>
        <h2>Assigned to</h2>
        <div class="assignment-select-container">
          <input id="contact-input" class="assignment-task-assignment" placeholder="Select contacts to assign" />
          <div id="task-assignment" class="dropdown-content"></div>
        </div>
        <div id="selected-contacts"></div>
      </div>
      <img class="mg-l-r" src="/assets/img/icons/Vector 4.png" alt="" />
      <div class="right-menu">
        <h2>
          Due Date
          <p class="required-color">*</p>
        </h2>
        <input id="task-date" type="date" name="date" class="date-selector" required />
        <h2>Prio</h2>
        <div class="dp-flex-jc-sb">
          <input type="radio" id="task-high-priority" name="priority" value="high" class="custom-checkbox-high" />
          <label for="task-high-priority" class="checkbox-container">
            <div class="checkbox-label-high">
              Urgent<img class="checkbox-image-high" src="/assets/img/icons/prio_high.png" alt="priority high" />
            </div>
          </label>
          <input type="radio" id="task-medium-priority" name="priority" value="medium" class="custom-checkbox-medium"
            checked />
          <label for="task-medium-priority" class="checkbox-container">
            <div class="checkbox-label-medium">
              Medium<img class="checkbox-image-medium" src="/assets/img/icons/prio_medium.png" alt="priority medium" />
            </div>
          </label>
          <input type="radio" id="task-low-priority" name="priority" value="low" class="custom-checkbox-low" />
          <label for="task-low-priority" class="checkbox-container">
            <div class="checkbox-label-low">
              Low<img class="checkbox-image-low" src="/assets/img/icons/prio_low.png" alt="priority low" />
            </div>
          </label>
        </div>
        <h2>
          Category
          <p class="required-color">*</p>
        </h2>
        <div class="custom-select-container">
          <select class="selectfield-task-category" name="taskcategory" id="task-category" required>
            <option value="">Select a category</option>
            <option value="Technical Task">Technical Task</option>
            <option value="User Story">User Story</option>
          </select>
        </div>
        <h2>Subtasks</h2>
        <div class="subtask-form">
          <div class="input-container">
            <input type="text" class="inputfield-task-subtasks" id="task-subtasks" maxlength="50" name=""
              placeholder="Add new subtask" onfocus="subtasksShowInput()" />
            <button type="button" class="add-plus-button" id="add-plus-button" onclick="subtasksShowInput()">
              <img src="/assets/img/icons/add_subtask_icon.svg" alt="" />
            </button>
            <div class="subtask-btn-container" id="subtask-btn-container">
              <button type="button" class="clear-button" onclick="subtasksClearInput()">
                <img src="/assets/img/icons/delete_icon.svg" alt="" />
              </button>
              <img src="/assets/img/icons/Vector 19.svg" alt="" class="vector-icon" />
              <button type="button" class="add-button" onclick="subtasksCreate()">
                <img src="/assets/img/icons/check_edit_icon.svg" alt="" />
              </button>
            </div>
          </div>
          <div class="subtasks-container"></div>
        </div>
      </div>
    </section>
    <div class="add-task-footer">
      <div class="dp-flex">
        <p class="required-color">*</p>
        This field is required
      </div>
      <div class="footer-btn-container">
        <button onclick="clearTaskForm()" class="clear-task-btn">Clear X</button>
        <button id="create-task" type="submit" class="create-task-btn">
          Create Task<img src="/assets/img/icons/check.svg" alt="" />
        </button>
      </div>
    </div>
  </form>
</div>